<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Confirmation</title>
</head>
<body>
    <h1>Register Confirmation</h1>
    <p>Thank you for your registration.</p>
    <table>
        <tr>
            <td>First Name</td>
            <td>{{ first_name }}</td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td>{{ last_name }}</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>{{ email }}</td>
        </tr>
        <tr>
            <td>Phone Number</td>
            <td>{{ phone }}</td>
        </tr>
    </table>
</body>
</html>