<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block page_title %}My Blog{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="{% block body_class %}{% endblock %}">
    {% include "includes/header.html" with current_page=current_page parent_page=parent_page parent_url=parent_url %}

    {% if messages %}
        <div class="message-list" role="status">
            {% for message in messages %}
                <p class="message {{ message.tags }}">{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}

    {% block body_content %}
    	Thank you
    {% endblock %}

    {% include "includes/footer.html" %}
</body>
</html>
